#centrado {
    align-self: center;
    text-align: center;

}

#fondo {
    background-color: gray;

}

#color_menu {
    color: white;

}

#primero {
    background-color: lightblue;
    padding: 100px;
    border: 150px;
    margin-right: 70px;
    margin-left: 100px;
    color: azure;
    
}

#segundo {
    background-color: yellow;
    padding: 100px;
    border: 150px;
    margin-right: 70px;
    margin-left: 100px;
    color:white;
}

#tercero {
    background-color: orange;
    padding: 100px;
    border: 150px;
    margin-right: 70px;
    margin-left: 100px;
    color: azure;
}

#cuarto{
    background-color: red;
    padding: 100px;
    border: 150px;
    margin-right: 70px;
    margin-left: 100px;
    color: azure;

}

#tabla{
    width: 100px;
    height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
       
}